<app-container>
  <div fxLayout="column" fxLayoutGap="20px">
    <div fxFlex>
      <mat-toolbar color="primary" fxLayoutGap="10px">
        <ng-container *ngIf="!isInDeleteMode()">
          <button mat-raised-button (click)="showEditField()">
            Add
            <mat-icon>add</mat-icon>
          </button>
          <button mat-raised-button (click)="enterDeleteMode()">
            Delete
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="isInDeleteMode()">
          <button mat-raised-button (click)="leaveDeleteMode()">
            Leave Delete
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
      </mat-toolbar>
    </div>
    <div [fxHide]="!isProgressBarVisible">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
      <p class="mat-body">Data processing in progress</p>
    </div>
    <app-account-movement-edit
      [mode]="CREATE"
      [fxHide]="!isEditFieldVisible"
      (close)="hideEditField()"
      (create)="createAccountMovement($event)" (edit)="createAccountMovement($event)"
      fxFlex></app-account-movement-edit>
    <div fxFlex *ngFor="let item of accountMovements; let lasItem = last">
      <app-account-movement-edit
        (edit)="editAccountMovement($event)"
        (delete)="deleteAccountMovement($event)"
        [mode]="currentMode"
        [editSource]="item"
      ></app-account-movement-edit>
      <mat-divider *ngIf="!lasItem"></mat-divider>
    </div>
  </div>
</app-container>

