@import '~@angular/material/theming';

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav {
}

.app-sidenav {
  padding: 10px 10px 10px 10px;
}

.is-active{
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

@media (max-width: 450px) {
  .mat-sidenav {
    width: 100%
  }
}
