<mat-card fxLayout="row" fxLayoutGap="10px" [formGroup]="accountMovement" fxLayoutAlign="space-between center">

  <mat-form-field fxFlex>
    <mat-label>Amount</mat-label>
    <span matPrefix>CHF&nbsp;</span>
    <input matInput type="text" formControlName="value">
  </mat-form-field>

  <mat-form-field fxFlex>
    <input matInput [matDatepicker]="picker1" placeholder="Angular forms" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Description</mat-label>
    <input matInput type="text" formControlName="description">
  </mat-form-field>

  <button mat-icon-button [disabled]="accountMovement.invalid">
    <mat-icon>save</mat-icon>
  </button>
</mat-card>
