<div [formGroup]="accountMovement" fxLayout="column">

  <div fxLayout="row" class="input-field" fxLayout.xs="column" fxLayoutGap="10px">
    <mat-form-field fxFlex>
      <mat-label>Amount</mat-label>
      <span matPrefix>CHF&nbsp;</span>
      <input matInput type="text" formControlName="value">
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput [matDatepicker]="picker1" placeholder="Valuata" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description">
    </mat-form-field>
  </div>
  <div fxLayoutGap="10px" class="button-area" fxLayout="row" fxLayoutAlign="end center">
    <div *ngIf="isDeleteMode()" fxFlex.xs>
      <button fxFlex.xs color="accent" (click)="deleteAccountMovement()" mat-raised-button>
        Delete
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div *ngIf="isCreateMode()" fxFlex.xs fxLayoutGap="10px">
      <button fxFlex.xs (click)="closeComponent()" mat-raised-button>
        Cancel
        <mat-icon>cancel</mat-icon>
      </button>
      <button fxFlex.xs mat-raised-button color="primary" (click)="saveAccountMovement()"
              [disabled]="accountMovement.invalid">
        Save
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <div fxFlex.xs fxLayoutGap="10px" *ngIf="isEditMode() && hasContentChange()">
      <button fxFlex.xs (click)="editCancel()" mat-raised-button>
        Cancel
        <mat-icon>cancel</mat-icon>
      </button>
      <button fxFlex.xs mat-raised-button color="primary"
              (click)="editAccountMovement()" [disabled]="accountMovement.invalid">
        Edit
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</div>
