<div [formGroup]="accountMovement" fxLayout="column">

  <div fxLayout="row" style="margin: 5px 5px 5px" fxLayout.xs="column" fxLayoutGap="10px">
    <mat-form-field fxFlex>
      <mat-label>Amount</mat-label>
      <span matPrefix>CHF&nbsp;</span>
      <input matInput type="text" formControlName="value">
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput [matDatepicker]="picker1" placeholder="Valuata" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description">
    </mat-form-field>
  </div>
  <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="end center">
    <ng-container *ngIf="isCreateMode()">
      <button (click)="closeComponent()" mat-raised-button>
        Cancel
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="saveAccountMovement()"
              [disabled]="accountMovement.invalid">
        Save
        <mat-icon>save</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="isEditMode() && accountMovement.touched">
      <button (click)="editCancel()" mat-raised-button>
        Cancel
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-raised-button color="primary"
              (click)="editAccountMovement()" [disabled]="accountMovement.invalid">
        Edit
        <mat-icon>save</mat-icon>
      </button>
    </ng-container>
  </div>
</div>
